<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>fr.insa.soa.SOA_Project</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_session</display-name>
    <servlet-name>Servlet_session</servlet-name>
    <servlet-class>servlets.Servlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_session</servlet-name>
    <url-pattern>/Servlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_index</display-name>
    <servlet-name>Servlet_index</servlet-name>
    <servlet-class>servlets.Servlet_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_index</servlet-name>
    <url-pattern>/Servlet_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_report</display-name>
    <servlet-name>Servlet_report</servlet-name>
    <servlet-class>servlets.Servlet_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_report</servlet-name>
    <url-pattern>/Servlet_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_forum</display-name>
    <servlet-name>Servlet_forum</servlet-name>
    <servlet-class>servlets.Servlet_forum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_forum</servlet-name>
    <url-pattern>/Servlet_forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_partners</display-name>
    <servlet-name>Servlet_partners</servlet-name>
    <servlet-class>servlets.Servlet_partners</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_partners</servlet-name>
    <url-pattern>/Servlet_partners</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_topic</display-name>
    <servlet-name>Servlet_topic</servlet-name>
    <servlet-class>servlets.Servlet_topic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_topic</servlet-name>
    <url-pattern>/Servlet_topic</url-pattern>
  </servlet-mapping>
</web-app>